<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WLQRScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D70D5101C45EE2C00A03ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D70D5291C45EE2C00A03ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D70D5341C45EE2C00A03ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
